<div class="wrapper-border">
  <div class="row">
    <div class="col-md-5">
      <div class="wrapper-border unset_margin">
        <h3>Get verified</h3>
        <p>Verify your profile by sending in your portfolio and tell us something about yourself.
          Verified Artists are displayed with a verified mark all over the marketplace.
          You can only apply for the spaceshuttle vote if you are verified.</p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="portfolio wrapper-border">
        <h4>Portfolio or Web</h4>
        <div class="input">
          <input type="text" placeholder="text" class="input-costum">
        </div>
      </div>
      <div class="application wrapper-border">
        <h4>Tell us about yourself</h4>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="submit-section d-flex justify-content-center">
        <button class="btn-primary-costum">
          Submit
        </button>
  </div>
</div>

</div>
</div>
