<div class="wrapper wrapper-border">
  <div class="backArrow" (click)="actionBack()">
    <img src="https://www.pngitem.com/pimgs/m/467-4678631_arrow-back-icon-png-transparent-png.png" alt="">
  </div>
  <div class="whole">
    <div class="row w-100">
      <div class="col-md-6">
        <div class="inside">
          <div class="wrapper-card">
            <div class="img">
              <img style="width: 100%;" src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
            </div>
            <div class="card-info mt-3">
              <div class="card-info-left">
                <div class="section">
                  <h4>Offering Asset: {{mSwap.offeringAsset.name}}</h4>
                  <span class="unset-dm-style">{{mSwap.offeringAsset.unitName}}</span>
                </div>
                <div class="section">
                  <h4>Offering Amount: {{mSwap.offeringAmount}}</h4>
                </div>
                <div class="section">
                  <h4>Accepting Asset: {{mSwap.acceptingAsset.name}}</h4>
                  <span class="unset-dm-style">{{mSwap.acceptingAsset.unitName}}</span>
                </div>
                <div class="section">
                  <h4>Accepting Amount: {{mSwap.acceptingAmount}}</h4>
                </div>
                <div class="section w-100">
                  <h4 class="w-100" style="overflow-wrap: break-word;">Creator: {{mSwap.offerer.name}}</h4>
                </div>
                <div class="section">
                  <h4>Status </h4>
                  <span class="unset-dm-style" *ngIf="mSwap.isOpen">
                    Open
                  </span>
                  <span class="unset-dm-style" *ngIf="!mSwap.isOpen">
                    Cancelled
                  </span>
                </div>
                <div class="section">
                  <h4>Price </h4>
                  <span class="unset-dm-style">{{mSwap.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button class="btn-secondary-costum aligner" (click)="actionSwap()">
              <ng-container *ngIf = "isOpen; then open else close"></ng-container>
              <ng-template #open>
                <ng-container *ngIf = "isMine; then cancel else bid"></ng-container>
                <ng-template #cancel>Cancel offer</ng-template>
                <ng-template #bid>Bid</ng-template>
              </ng-template>
              <ng-template #close>
                <ng-container *ngIf = "isMine; then reopen else nothing"></ng-container>
                <ng-template #reopen>Reopen</ng-template>
                <ng-template #nothing>Test</ng-template>
              </ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
