<div class="wrapper-card">
  <div class="">
    <div class="relative">
      <div class="img">
        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
      </div>
      <div class="card-info">
        <div class="card-info-left">
          <div class="section">
            <h4>Name: </h4>
            <span class="unset-dm-style">ETH</span>
          </div>
          <div class="section">
            <h4>Creator </h4>
            <img style='width: 25px; height: 25px;' src="https://thumbs.dreamstime.com/b/green-tick-icon-vector-symbol-checkmark-isolated-white-background-checked-icon-correct-choice-sign-check-mark-checkbox-154491019.jpg" alt="">
          </div>
          <div class="section">
            <h4>Collection </h4>
            <span class="unset-dm-style">Newest</span>
          </div>
          <div class="section">
            <h4>Last Price </h4>
            <span class="unset-dm-style">100$</span>
          </div>
        </div>
        <div class="card-info-right">
          <div class="section">
            <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
            <span>30</span>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="swap-details">
        <span style="font-size: 15px;">Looking for</span>
      </div>
    </div>
  </div>
</div>
