<div class="body wrapper-border">
  <div class="setBox">
    <img class="link" src="https://cdn3.iconfinder.com/data/icons/arrow-13/64/arrow8-512.png" alt="">
    <h4>Settings</h4>
  </div>
  <div class="inside wrapper-border">
    <div class="wrapper">
      <div class="options">
        <div class="d-flex align-items-center justify-content-between">
          <span>Dark Mode</span>
          <mat-slide-toggle id="sliddertoggle1"></mat-slide-toggle>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <span>Show NSFW</span>
          <mat-slide-toggle id="sliddertoggle2"></mat-slide-toggle>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <span>Receive Email Notification</span>
          <mat-slide-toggle id="sliddertoggle3"></mat-slide-toggle>
        </div>
      </div>
      <div class="downSection">
        <div class="buttons">
          <button class="btn-primary-costum">Save</button>
          <button class="btn-secondary-costum">Cancel</button>

        </div>
      </div>
    </div>
  </div>
</div>
