<div class="main MAIN">
  <div class="third-section second-section wrapper-border">
    <div class="title">
      <h3>Featured Artists</h3>
    </div>
    <div class="boxes">
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <span>Vincet Van Gogh</span>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <span>Vincet Van Gogh</span>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <span>Vincet Van Gogh</span>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <span>Vincet Van Gogh</span>
      </div>
    </div>
  </div>
  <!--  drop-down-selector-->
  <div class="pre-last-section third-section second-section wrapper-border">
    <div class="title">
      <h3 class="title_hot">Hot Artists In</h3>
      <app-drop-down-selector [dropDownValues]="hotDropDown" [isNotAccordion]="false"></app-drop-down-selector>
    </div>
    <div class="boxes">
      <div class="box">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
      </div>
      <div class="box">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
      </div>
      <div class="box">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
      </div>
      <div class="box">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
      </div>
    </div>
  </div>
  <div class="last-sectionZ">
    <div class="wrapper-border">
      <h3>All Artists</h3>
      <div class="d-flex justify-content-end flex-column align-items-end">
        <div class="sortBy d-flex align-items-center">
          <span class="color-violet">Sory By</span>
          <app-drop-down-selector [isNotAccordion]="false" [dropDownValues]="['Alphabetical','Stars','Oldest first', 'Newest first']"></app-drop-down-selector>
        </div>
        <div class="wrapper-border" style="width: 100%;">
          <div class="boxes">
            <div class="row">
              <div class="col-md-3">
                <div class="box d-flex flex-column align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
                  <span>Arist Name</span>
                  <div class="star-section">
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
                    <span>30</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box d-flex flex-column align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
                  <span>Arist Name</span>
                  <div class="star-section">
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
                    <span>30</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box d-flex flex-column align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
                  <span>Arist Name</span>
                  <div class="star-section">
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
                    <span>30</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box d-flex flex-column align-items-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
                  <span>Arist Name</span>
                  <div class="star-section">
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
                    <span>30</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  drop-down-selector-->
</div>

