<div class="main MAIN">
  <div class="third-section second-section wrapper-border" style="margin-top: 0px">
    <div class="title">
      <h3>Featured Creators</h3>
    </div>
    <div class="boxes d-unset">
      <div class="featured-artists">
        <app-scroll [scrollItems]="featuredArtists" (openArtistProfile)="openArtistProfile($event)"></app-scroll>
      </div>
    </div>
  </div>
  <!--  drop-down-selector-->
  <div class="pre-last-section third-section second-section wrapper-border">
    <div class="title">
      <h3 class="title_hot">Hot Creators In</h3>
      <app-drop-down-selector [dropDownValues]="hotDropDown" [isNotAccordion]="false" (dropDownValue)="selectedLastDuration($event)"></app-drop-down-selector>
    </div>
    <div class="featured-artists">
      <app-scroll [scrollItems]="hotCreators" (openArtistProfile)="openArtistProfile($event)"></app-scroll>
    </div>
  </div>
  <div class="last-sectionZ">
    <div class="wrapper-border">
      <h3>All Creators</h3>
      <div class="d-flex justify-content-end flex-column align-items-end">
        <div class="sortBy d-flex align-items-center">
          <span class="color-violet">Sory By</span>
          <app-drop-down-selector [isNotAccordion]="false" [dropDownValues]="['Followers', 'Alphabetical A-Z', 'Alphabetical Z-A']" (dropDownValue)="selectedOrdering($event)"></app-drop-down-selector>
        </div>
        <div class="featured-artists">
          <app-scroll [scrollItems]="allCreators" (openArtistProfile)="openArtistProfile($event)"></app-scroll>
        </div>
      </div>
    </div>
  </div>
  <!--  drop-down-selector-->
</div>

