<div class="full wrapper-border">
  <div class="firstLine">
    <img class="backArrow" src="assets/img/arrow.svg" alt="" (click)="back()">
    <h4>Notification centre</h4>
  </div>
  <div class="notificationCentre">
    <div class="row" style="width: 100%">
      <div class="col-md-4">
        <div class="filters wrapper-border">
          <div class="filterHeader">
            <h4>Filters</h4>
          </div>
          <div class="d-flex flex-column filter-wrapper">
            <button *ngIf="selectedType != 'all'" class="btn-primary-costum" (click)="selectType('all')">Show all</button>
            <button *ngIf="selectedType == 'all'" class="btn-secondary-costum">Show all</button>
            <button *ngIf="selectedType != 'sell'" class="btn-primary-costum" (click)="selectType('sell')">Sells</button>
            <button *ngIf="selectedType == 'sell'" class="btn-secondary-costum">Sells</button>
            <button *ngIf="selectedType != 'auction'" class="btn-primary-costum" (click)="selectType('auction')">Auctions</button>
            <button *ngIf="selectedType == 'auction'" class="btn-secondary-costum">Auctions</button>
            <button *ngIf="selectedType != 'bids'" class="btn-primary-costum" (click)="selectType('bids')">Bids</button>
            <button *ngIf="selectedType == 'bids'" class="btn-secondary-costum">Bids</button>
            <button *ngIf="selectedType != 'req'" class="btn-primary-costum" (click)="selectType('req')">Swap Requests</button>
            <button *ngIf="selectedType == 'req'" class="btn-secondary-costum">Swap Requests</button>
            <button *ngIf="selectedType != 'stars'" class="btn-primary-costum" (click)="selectType('stars')">Starred</button>
            <button *ngIf="selectedType == 'stars'" class="btn-secondary-costum">Starred</button>
            <button *ngIf="selectedType != 'resell'" class="btn-primary-costum" (click)="selectType('resell')">Re-Sell</button>
            <button *ngIf="selectedType == 'resell'" class="btn-secondary-costum">Re-Sell</button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="notification wrapper-border">
          <div class="notifHeader">
            <h4>Notifications</h4>
          </div>
          <div class="wrapper-border fix-height">
            <div *ngFor="let item of arr; last as last">
              <div class="wrapper-notification wrapper-border"
              [class.no-margin]="last"
              *ngIf="showType(item.type)"
            >
           <div class="alligner">
             <div class="inside">
               <span>{{getType(item.type)}}</span>
             </div>
             <div class="alligner-left">
               <span>{{item.text}}</span>
             </div>
           </div>
           <div class="alligner-right" style="margin-left: 8px;">
             <span>{{formatDate(item.date)}}</span>
           </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



