<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="full">
        <div class="firstLine">
            <img class="backArrow" src="https://cdn3.iconfinder.com/data/icons/arrow-13/64/arrow8-512.png" alt="">
            <h4>Notification centre</h4>
        </div>
        <div class="notificationCentre">
            <div class="filters">
                <div class="filterHeader">
                    <h4>Filters</h4>
                </div>
                <button>Show all</button>
                <button>Sells</button>
                <button>Auctions</button>
                <button>Received Bids</button>
                <button>Swap Requests</button>
                <button>Starred</button>
                <button>Re-Sell</button>
            </div>
            <div class="notification">
                <div class="notifHeader">
                    <h4>Notifications</h4>
                </div>
                <div class="wrapper-notification wrapper-border"  >
                    <div class="alligner">
                        <div class="inside">
                            <span>Sell</span>
                        </div>
                        <div class="alligner-left">
                            <span>lorem, lorem , lorem</span>
                        </div>
                    </div>
                        <div class="alligner-right">
                            <span>Buy</span>
                        </div>
                </div>
                <div class="wrapper-notification wrapper-border"  >
                    <div class="alligner">
                        <div class="inside">
                            <span>Sell</span>
                        </div>
                        <div class="alligner-left">
                            <span>lorem, lorem , lorem</span>
                        </div>
                    </div>
                        <div class="alligner-right">
                            <span>Buy</span>


                        </div>
                </div>
                <div class="wrapper-notification wrapper-border"  >
                    <div class="alligner">
                        <div class="inside">
                            <span>Sell</span>
                        </div>
                        <div class="alligner-left">
                            <span>lorem, lorem , lorem</span>
                        </div>
                    </div>
                        <div class="alligner-right">
                            <span>Buy</span>
                        </div>
                </div>
                <div class="wrapper-notification wrapper-border"  >
                    <div class="alligner">
                        <div class="inside">
                            <span>Sell</span>
                        </div>
                        <div class="alligner-left">
                            <span>lorem, lorem , lorem</span>
                        </div>
                    </div>
                        <div class="alligner-right">
                            <span>Buy</span>
                        </div>
                </div>
                <div class="wrapper-notification wrapper-border"  >
                    <div class="alligner">
                        <div class="inside">
                            <span>Sell</span>
                        </div>
                        <div class="alligner-left">
                            <span>lorem, lorem , lorem</span>
                        </div>
                    </div>
                    <div class="alligner-right">
                        <span>Buy</span>
                    </div>
                </div>
            </div>
        </div>
            
        
        
    </div>
</body>
</html>


    