<div class="wrapper wrapper-border">
  <div class="backArrow">
    <img src="https://www.pngitem.com/pimgs/m/467-4678631_arrow-back-icon-png-transparent-png.png" alt="" style="width: 50px;">
  </div>
  <div class="whole wrapper-border hide-on-respo">
    <div class="row" style="width: 100%;">
      <div class="col-lg-8">
        <div class="inside wrapper-border">
          <div class="header">
            <h3>Create Item</h3>
          </div>
          <div class="wrapper-border section">
            <h4>Upload File</h4>
            <button class="btn-primary-costum">
              Upload File
            </button>
          </div>
          <div class="wrapper-border section">
            <h4>Upload Cover</h4>
            <button class="btn-primary-costum">
              Upload Cover
            </button>
          </div>
          <div class="createoffer wrapper-border">
            <h4 class="amountheader">Name</h4>
            <input type="text" placeholder="Name" class="input-costum" >
          </div>
          <div class="typeoffer wrapper-border">
            <h4 class="typeheader">Description</h4>
            <input type="text" placeholder="Description" class="input-costum">
          </div>
          <div class="duration wrapper-border">
            <h4 class="durationheader">Royalties</h4>
            <input type="date" placeholder="10" class="input-costum">
          </div>
          <div class="price wrapper-border">
            <h4 class="priceheader">External Link</h4>
            <input type="text" placeholder="Enter price for..." class="input-costum">
          </div>
          <div class="dropdownborder wrapper-border" style="margin-bottom: 20px">
            <h4>Collection</h4>
            <div class="dropdown">
              <div class="AssetsList">
                <app-drop-down-selector [dropDownValues]="['Option 1', 'Option 2', 'Option 3', ]"></app-drop-down-selector>
              </div>
            </div>
          </div>
          <div class="price wrapper-border">
            <h4 class="priceheader">Supply</h4>
            <input type="text" placeholder="1" class="input-costum">
          </div>
          <div class="price wrapper-border">
            <h4 class="priceheader">Properties</h4>
            <div class="row">
              <ng-container *ngFor="let section of pushedItems">
                <div class="col-md-5">
                  <input type="text" placeholder="e.g height" class="input-costum">
                </div>
                <div class="col-md-7">
                  <input type="text" placeholder="e.g 4m" class="input-costum">
                </div>
              </ng-container>
              <div class="plus-icon" (click)="addSection()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
              <div class="plus-icon" *ngIf="pushedItems.length > 1"
                   (click)="minus()">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="price wrapper-border">
            <div class="d-flex justify-content-between" style="padding: 0px 10px">
              <h4 class="priceheader new-section">Create offer on marketplace</h4>
              <mat-slide-toggle id="sliddertoggle3" (click)="toggleEvent()"></mat-slide-toggle>
            </div>
            <div class="wrapper-border" *ngIf="toggleCounter % 2 === 0">
              <div class="price wrapper-border">
                <h4 class="priceheader">Amount</h4>
                <input type="text" placeholder="1" class="input-costum">
              </div>
              <div class="dropdownborder wrapper-border" style="margin-bottom: 20px">
                <h4>Type</h4>
                <div class="dropdown">
                  <div class="AssetsList">
                    <app-drop-down-selector [dropDownValues]="['Fixed Price', 'Timed Auction', 'Bids Available', ]"></app-drop-down-selector>
                  </div>
                </div>
              </div>
              <div class="price wrapper-border">
                <h4 class="priceheader">Price</h4>
                <input type="text" placeholder="1" class="input-costum">
              </div>
            </div>
          </div>
          <div class="btn-secondary-costum aligner">
            Create Item
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="preview wrapper-border">
          <div class="previewheader">
            <h4>Preview</h4>
          </div>
          <app-card></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
