<div class="main">
  <div class="wrapper-border">
    <div class="header">
      <img src="https://www.pngitem.com/pimgs/m/467-4678631_arrow-back-icon-png-transparent-png.png" alt="" style="width: 50px;">
      <span>go back</span>
    </div>
    <div class="wrapper-border hide-on-respo">
      <div class="row">
        <div class="col-md-6">
          <div class="wrapper-border">
            <div class="img-wrapper">
              <div class="pic-main">
                <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
              </div>
              <div class="pic-details d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                  <h4>Creator</h4>
                  <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  <span class="color-violet">Name of Creator</span>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <h4>Collection</h4>
                  <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  <span class="color-violet">Name of Collection</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wrapper-border">
            <div class="wrapper-right d-flex justify-content-between">
              <div class="wrapper-left-info d-flex flex-column">
                <div class="section d-flex align-items-center">
                  <h4>Name of Asset:</h4>
                  <span class="color-violet">ASAID</span>
                </div>
                <div class="section d-flex align-items-center">
                  <h4>Price:</h4>
                  <span>2000$</span>
                </div>
              </div>
              <div class="wrapper-right-info d-flex align-items-center">
                <div class="section d-flex align-items-center middle-section">
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
                  <span>20</span>
                </div>
                <div class="section d-flex align-items-center">
                  <app-drop-down-selector [treeDots]="true" [dropDownValues]="['Report']" [isNotAccordion]="false"></app-drop-down-selector>
                </div>
              </div>
            </div>
            <div class="scroll-section">
              <div class="bottom-section wrapper-border">
                <div class="desc-text-of-assets">
                  <h4>Description</h4>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nihil.</span>
                </div>
                <div class="tree-section">
                  <div class="section">
                    <app-drop-down-selector [tree]="true" [dropDownValues]="['Height: 200', 'Price: 300$', 'Width: 200px,']" [isNotAccordion]="true" [hasTitle]="'Properties'"></app-drop-down-selector>
                  </div>
                  <div class="section">
                    <app-drop-down-selector [tree]="true" [dropDownValues]="['Height: 200', 'Price: 300$', 'Width: 200px,']" [isNotAccordion]="true" [hasTitle]="'Seeking'"></app-drop-down-selector>
                  </div>
                  <div class="section">
                    <app-drop-down-selector [tree]="true" [dropDownValues]="['Height: 200', 'Price: 300$', 'Width: 200px,']" [isNotAccordion]="true" [hasTitle]="'Listings'"></app-drop-down-selector>
                  </div>
                </div>
                <div class="chart">
                  <div class="header">
                    <h4 class="color-violet">XY % royalties for Creator</h4>
                  </div>
                  <div class="chart">
                    <span>Price Chart</span>
                  </div>
                  <div class="chart-section wrapper-border d-flex" style="justify-content: center; height: 100px; margin-top: 20px">
                    <span>
                      Chart Section
                    </span>
                  </div>
                </div>
              </div>
              <div class="buttons d-flex align-items-center">
                <button class="btn-secondary-costum" (click)="openPopUp()">
                  Request swap
                </button>
                <button class="btn-primary-costum" style="white-space: nowrap" (click)="openPopUpSecond()">
                  Make Offer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popUp-bg" *ngIf="isPopUp || isPopUpSecond">
  <div class="wrapper_popUp popswaprequest wrapper-border">
    <i class="fa fa-times" aria-hidden="true" style="cursor: pointer" (click)="closePopUp()"></i>
    <ng-container *ngIf="isPopUp">
      <div class="wrapper">
        <h3>Swap request</h3>
        <div class="dropdown">
          <app-drop-down-selector class="dropmenu" [dropDownValues]="['Option 1', 'Option 2', 'Option 3', ]"></app-drop-down-selector>
        </div>
        <h4>Amount</h4>
        <input class="input-costum" placeholder="Amount">
        <div class="buttons">
          <button class="btn-secondary-costum aligner">
            send
          </button>
          <button class="btn-primary-costum aligner" (click)="closePopUp()">
            Cancel
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isPopUpSecond">
      <div class="wrapper">
        <h3>Swap request</h3>
        <div class="dropdown">
          <app-drop-down-selector class="dropmenu" [dropDownValues]="['Option 1', 'Option 2', 'Option 3', ]"></app-drop-down-selector>
        </div>
        <div class="section">
          <h4>Amount</h4>
          <input class="input-costum" placeholder="Amount">
        </div>
        <div class="section">
          <h4>Message</h4>
          <textarea></textarea>
        </div>
        <div class="buttons">
          <button class="btn-secondary-costum aligner">
            send
          </button>
          <button class="btn-primary-costum aligner" (click)="closePopUpSecond()">
            Cancel
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
