<div class="wrapper-border">
  <div class="space-shuttle wrapper-border">
    <div class="row">
      <div class="col-md-4 space-title">
        <h3 class="m-b-specific-size">Spaceshuttle</h3>
        <div class="shuttletext">
          <span> The spaceshuttle will send one artist to the moon and beyond.
          The the community of VERSE holders decides once a month
          which artist is send to the shuttle.
          The winner will be displayed on the front page and created offers
          will be highlighted on the marketplace. The winner receives a badge
          for a won period. This badge is displayed next to their user name
          through out the marketplace for a life time.</span>
        </div>
      </div>
      <div class="col-md-8 space-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_g
        TRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
      </div>
    </div>
  </div>
  <div class="artists wrapper-border">
    <h3 class="color-violet">Artists to the moon</h3>
    <div class="row artist-preTitle">
      <div class="col-md-6">
          <h4>Hold XY VERSE and vote until xy.xy.xyxy</h4>
      </div>
      <div class="col-md-6">
          <h4>Time remaining X days Y hours</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-card></app-card>
      </div>
      <div class="col-md-3">
        <app-card></app-card>
      </div>
      <div class="col-md-3">
        <app-card></app-card>
      </div>
      <div class="col-md-3">
        <app-card></app-card>
      </div>

    </div>
  </div>
  <div class="latest-winner wrapper-border">
    <h3>Latest Winner</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="left-section">
          <app-card></app-card>
        </div>
      </div>
      <div class="col-md-5">
        <h3 class="m-b-specific-size">Stats</h3>
        <div class="statswrapper ">
          <div class="stats">
            <h4>Votes</h4>
            <span class="color-violet">4250/6200</span>
          </div>
          <div class="stats">
            <h4>Sells in shuttle period</h4>
            <span class="color-violet">61990 algo</span>
          </div>
          <div class="stats">
            <h4>Stars in shuttle period</h4>
            <span class="color-violet">521</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="m-b-specific-size">Apply for shuttle seat</h3>
        <div class="text">
          <span>You can apply for the next period of shuttle voting when you are a verified artist.
          To do so select one of your best pieces you have created and minted and hit the apply button. </span>
        </div>

        <div class="buttons">
          <button class="btn-primary-costum">Select item</button>
          <button class="btn-secondary-costum">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
