<div class="main">
  <div class="wrapper-border fix-height">
    <div class="header-title">
      <h3>Create Offer</h3>
    </div>
    <div class="wrapper-border fix-height-wrapper">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="box-wrapper" routerLink="/create-trade">
              <span>
              Create a Trade where you request Algo for an Asset
              </span>
              <div class="box wrapper-card">
                <h4>Trade</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-wrapper" routerLink="/swap/create-swap">
              <span>
                Create a Swap where you set Assets or Collections you are
                interested in for swapping your Asset
              </span>
              <div class="box wrapper-card">
                <h4>Swap</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4" routerLink="/create-auction">
            <div class="box-wrapper no-border">
              <span>
              Create a Swap where you set Assets or Collections you are
              interested in for swapping your Asset
              </span>
              <div class="box wrapper-card">
                <h4>Timed auction</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
