.main {
  height: 100%;
  .header-title {
    margin-bottom: 20px;
  }
  .wrapper-border {
    .wrapper {
      span {
        display: block;
        color: #81007F;
        margin-bottom: 12px;
      }
      .box-wrapper {
        height: 100%;
        .box {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          &:hover {
            transform: scale(1.05);
            border: 1px solid rgba(129, 0, 127, 0.4) !important;
            h4 {
              color: #81007F;
            }
          }
        }
      }
    }
  }
}
