.main {
  height: 100%;
  .header-title {
    margin-bottom: 20px;
  }
  .wrapper-border {
    &.fix-height{
      height: 400px;
    }
    &.fix-height-wrapper  {
      height: 300px;
    }
    .wrapper {
      span {
        height: 70px;
        display: block;
        margin-bottom: 20px;
        overflow-y: auto;
        color: #81007F;
      }
      .box-wrapper {
        height: 100%;
        .box {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          &:hover {
            transform: scale(1.05);
            border: 1px solid rgba(129, 0, 127, 0.4) !important;
            h4 {
              color: #81007F;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .main {
    .wrapper-border {
      height: 100% !important;
      .wrapper {
        span {
          height: 50px;
          text-align: center;
        }
        .box-wrapper {
          height: unset;
          border-bottom: 1px solid rgba(129, 0, 127, 0.15);
          padding-bottom: 25px;
          &.no-border{
            border: none;
          }
          .box {
            width: 50%;
            margin: auto;
            padding: 55px 0px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .main {
    .wrapper-border {
      .wrapper {
        span {
          height: 60px;
          text-align: center;
        }
        .box-wrapper {
          .box {
            padding: 30px 0px !important;
          }
        }
      }
    }
  }
}
