<div class="main">
  <div class="wrapper-border fix-height">
    <div class="header-title">
      <h3>Create Offer</h3>
    </div>
    <div class="wrapper-border fix-height-wrapper">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
            <div class="box-wrapper" routerLink="/create-trade">
              <span>
                Set an asset that you own as For sale.
              </span>
              <div class="box wrapper-card">
                <h4>Trade</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box-wrapper" routerLink="/create-bid">
              <span>
                Place a bid offer to buy an asset.
              </span>
              <div class="box wrapper-card">
                <h4>Bid</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box-wrapper" routerLink="/create-swap">
              <span>
                Create a Swap offer to exchange an asset that you own for another asset.
              </span>
              <div class="box wrapper-card">
                <h4>Swap</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3" routerLink="/create-auction">
            <div class="box-wrapper no-border">
              <span>
                Create a timed auction to sell an asset to the highest bidder.
              </span>
              <div class="box wrapper-card">
                <h4>Timed auction</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
