<div class="main">
  <div class="wrapper-top  wrapper-border">
    <div class="collection-profile-section">
      <div class="cover">
        <img src="{{mCollection.banner}}" alt="">
      </div>
      <div class="collection-avatar">
        <img src="{{mCollection.icon}}" alt="">
      </div>
    </div>
    <div class="collection-profile-info">
      <div class="row">
        <div class="col-md-4">
          <div class="collection-profile-info-left">
            <div class="creator-section d-flex" routerLink="/profile/{{mCollection.creator.wallet}}" style="cursor: pointer;">
              <div class="section-top">
                <img *ngIf="mCollection.creator.profileImage" src="{{mCollection.creator.profileImage}}" alt="">
                <img *ngIf="!mCollection.creator.profileImage" src="assets/img/default-avatar.svg" alt="">
              </div>
              <div class="section-bottom">
                <h4>{{mCollection.creator.name.length > 15? mCollection.creator.name.substring(0,15).concat('...') : mCollection.creator.name}}</h4>
              </div>
            </div>
            <div class="website-section d-flex">
              <div class="section-top">
                <a href="{{mCollection.web}}" target="_blank">
                  <img src="assets/img/globe.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="collection-profile-info-middle">
            <h4>{{mCollection.name}}</h4>
            <p class="color-violet">
              {{mCollection.description}}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="collection-profile-info-right">
            <div class="d-flex right-section-info">
              <div class="section d-flex">
                <!-- <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i> -->
                <img class="collection-star" *ngIf="!isStarred" src="assets/img/unfilled_star.png" alt="" (click)="addStar()">
                <img class="collection-star" *ngIf="isStarred" src="assets/img/filled_star.png" alt="" (click)="removeStar()">
                <span>{{mCollection.stars}}</span>
              </div>
              <div class="section d-flex">
                <app-drop-down-selector [dropDownValues]="['Settings', 'Report']" [isNotAccordion]="false" [treeDots]="true"></app-drop-down-selector>
              </div>
            </div>
            <div class="category-section d-flex">
              <h4>Category:</h4>
              <span class="color-violet">{{mCollection.category}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-bottom">
    <div class="wrapper-border">
      <div class="create-asset w-100 d-flex mb-3 mr-1">
        <div style="flex: 1;"></div>
        <button *ngIf="myCollection" class="btn-secondary-costum" routerLink="/create-asset">
          Create Asset
        </button>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let item of mAssets">
          <app-card [mItem]="item" routerLink="../../asset-detail/{{item.assetId}}"></app-card>
          <!-- [routerLink]="'/asset-detail/' + item['assetId']" -->
        </div>
      </div>
    </div>
  </div>
</div>
