<div class="main" *ngIf="collectionInfo">
  <div class="wrapper-top  wrapper-border">
    <div class="collection-profile-section">
      <div class="cover">
        <img [src]="collectionInfo.banner" alt="">
      </div>
      <div class="profile-desc">
        <div class="collection-avatar">
          <img [src]="collectionInfo.icon" alt="">
        </div>
      </div>
    </div>
    <div class="collection-profile-info-middle" style="text-align: center;margin-top: 75px;">
      <h4>{{collectionInfo.name}}</h4>
      <p class="color-violet" style="width: 40%; display: inline-block;">
        {{collectionInfo.description}}
      </p>
    </div>
    <div class="collection-profile-info">
      <div class="row" style="width: 100%;">
        <div class="col-md-6">
          <div class="collection-profile-info-left">
            <div class="creator-section d-flex">
              <div class="section-top">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Elon_Musk_Royal_Society_%28crop1%29.jpg" alt="">
              </div>
              <div class="section-bottom">
                <h4>Creator</h4>
              </div>
            </div>
            <div class="website-section d-flex">
              <div class="section-top" *ngIf="collectionInfo.creator">
                <img src="" alt="">
              </div>
              <div class="section-bottom">
                <span class="color-violet">{{collectionInfo.web}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collection-profile-info-right">
            <div class="d-flex right-section-info">
              <div class="section d-flex" (click)="addStar()">
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
                <span>{{collectionInfo.stars}}</span>
              </div>
              <div class="section d-flex">
                <app-drop-down-selector [dropDownValues]="['Settings', 'Report']" [isNotAccordion]="false" [treeDots]="true"></app-drop-down-selector>
              </div>
            </div>
            <div class="category-section d-flex">
              <h4>Category:</h4>
              <span class="color-violet"> {{collectionInfo.category}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-bottom">
    <div class="wrapper-border">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let item of arr">
          <app-card></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
