.main {
  i {
    font-size: 25px;
  }
  .collection-profile-section {
    position: relative;

    img {
      border-radius: 12px;
      object-fit: cover;
    }

    .cover {
      img {
        height: 400px;
        width: 100%;
      }
    }

    .collection-avatar {
      border-radius: 12px;
      position: absolute;
      left: 50%;
      bottom: -70px;
      transform: translateX(-50%);

      img {
        height: 150px;
        width: 150px;
        border-radius: 12px;
      }
    }
  }

  .collection-profile-info {
    display: flex;
    margin-top: 80px;

    .creator-section {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;

      .section-top {

        img {
          width: 80px;
          height: 80px;
          border-radius: 12px;
          object-fit: cover;
        }
      }
    }

    .website-section {
      align-items: flex-end;
    }

    .section-top {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .collection-profile-info-middle {
      .hearted-section {
        display: flex;
        gap: 3px;
        align-items: center;

        .touched {
          color: #FF419B !important;
        }
        span {
          margin-left: unset !important;
        }
        img {
          width: 22px;
          height: 18px;
        }
      }

      .collection-name {
        gap: 12px;
      }

      .section {
        span {
          line-height: 0px;
        }
      }

      h4 {
        margin: 0px !important;
        text-align: center;
      }
    }

    .right-section-info {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .section {
        display: flex;
        align-items: center;
        margin-left: 25px;

        &:first-child {
          margin: 0px;
        }
      }
    }

    .category-section {
      align-items: center;
      justify-content: flex-end;
    }

    h4, span {
      margin-left: 10px;
    }
  }

  .wrapper-bottom {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .collection-profile-info-right {
    .category-section {
      margin-top: 20px;
    }
  }
}

.collection-star {
  width: 30px !important;
  height: 30px !important;
}
