<div class="main">
  <div class="wrapper-border">
    <div class="collection-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="go-back" (click)="onBack()">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAN1jWZS_QSUocNa5E0mlRKhahkmDd_8Tsew&usqp=CAU" alt="" style="width: 30px; height: 30px">
          <span>Back</span>
        </div>
      </div>
      <div class="title">
        <h3>Create Collection</h3>
      </div>
    </div>
      <div class="input-section">
        <div class="wrapper-border">
          <div class="section wrapper-border upload-section">
            <h4>Collection Icon</h4>
            <button class="btn-primary-costum" (click)="icon.click()">
              Upload Icon
              <input #icon type="file" (change)="onIconInput($event)" style="display:none;" />
            </button>
          </div>
          <div class="section wrapper-border upload-section">
            <h4>Collection Banner</h4>
            <button class="btn-primary-costum" (click)="banner.click()">
              Upload Banner
              <input #banner type="file" (change)="onBannerInput($event)" style="display:none;" />
            </button>
          </div>
          <div class="section wrapper-border upload-section">
            <h4>Featured Image</h4>
            <button class="btn-primary-costum" (click)="fileInput.click()">
              Upload Image
              <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
            </button>
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Name</h4>
            <input type="text" placeholder="Name" class="input-costum" (blur)="blurNameEvent($event)">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Description</h4>
            <input type="text" placeholder="Description" class="input-costum" (blur)="blurDescriptionEvent($event)">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Royalties</h4>
            <input type="text" placeholder="Royalties" class="input-costum" (blur)="blurRoyaltyEvent($event)">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Custom Algoverse URL</h4>
            <input type="text" placeholder="algoverse.exchange/your-domain-here" class="input-costum" (blur)="blurExternalLinkEvent($event)">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Category</h4>
            <app-drop-down-selector [dropDownValues]="categoryList" style="width: 100%;" (dropDownValue)="selectedCategory($event)"></app-drop-down-selector>
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Web</h4>
            <input type="text" placeholder="www.http.com..." class="input-costum" (blur)="blurWebEvent($event)">
          </div>
          <button class="btn-secondary-costum aligner" (click)="onSubmit()">
            Create Collection
          </button>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>