<div class="main row w-100">
  <div class="col-lg-2 col-xl-3"></div>
  <div class="col-lg-8 col-xl-6 col-12 input-section">
    <div class="wrapper-border">
      <div class="mb-3">
        <h3>Create Collection</h3>
      </div>
      <div class="section justify-content-between wrapper-border upload-section">
        <div class="d-flex align-items-center mr-2">
          <h4>Collection Icon</h4>
          <button class="btn-primary-costum" (click)="icon.click()">
            Upload Icon
            <input id="collection-input" #icon type="file" (change)="onIconInput($event)" style="display:none;" accept="image/*"/>
          </button>
        </div>
        <img *ngIf="iconUrl" [src]="iconUrl" alt="collection-icon">
      </div>
      <div class="section justify-content-between wrapper-border upload-section">
        <div class="d-flex align-items-center mr-2">
          <h4>Collection Banner</h4>
          <button class="btn-primary-costum" (click)="banner.click()">
            Upload Banner
            <input #banner type="file" (change)="onBannerInput($event)" style="display:none;" accept="image/*"/>
          </button>
        </div>
        <img *ngIf="bannerUrl" [src]="bannerUrl" alt="collection-banner">
      </div>
      <div class="section justify-content-between wrapper-border upload-section">
        <div class="d-flex align-items-center mr-2">
          <h4>Featured Image</h4>
          <button class="btn-primary-costum" (click)="fileInput.click()">
            Upload Image
            <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" accept="image/*"/>
          </button>
        </div>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="collection-image">
      </div>
      <div class="section wrapper-border flex-column">
        <h4>Name</h4>
        <input type="text" placeholder="Name" class="input-costum" (blur)="blurNameEvent($event)">
      </div>
      <div class="section wrapper-border flex-column">
        <h4>Description</h4>
        <input type="text" placeholder="Description" class="input-costum" (blur)="blurDescriptionEvent($event)">
      </div>
      <div class="section wrapper-border flex-column">
        <h4>Category</h4>
        <app-drop-down-selector [dropDownValues]="categoryList" style="width: 100%;"
                                (dropDownValue)="selectedCategory($event)"></app-drop-down-selector>
      </div>
      <div class="section wrapper-border flex-column">
        <h4>Web</h4>
        <input type="text" placeholder="www.website.com" class="input-costum" (blur)="blurWebEvent($event)">
      </div>
      <button class="btn-secondary-costum aligner" (click)="onSubmit()">
        Create Collection
      </button>
    </div>
  </div>
  <div class="col-lg-2 col-xl-3"></div>
</div>
