/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
   font-family: regular;
   src: url("assets/font/American_Typewriter_Regular.ttf");
}

h1,h2,h3,h4,h5,h6,
li,a,p,span,button,input {
  font-family: regular;
}
