<div class="main MAIN">
  <div class="first-section">
    <div class="wrapper first-wrapper wrapper-border">
     <span class="aboout">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid asperiores aspernatur beatae debitis delectus ea itaque labore laborum nemo optio perferendis, placeat quaerat quos recusandae sunt temporibus veritatis voluptatibus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae dolor error eum ex labore, magni molestiae, natus nisi optio perspiciatis
     </span>
      <div class="buttons">
        <button class="btn-primary-costum">
          Discover
        </button>
        <button class="btn-secondary-costum">
          Create
        </button>
      </div>
    </div>
    <div class="wrapper second-wrapper wrapper-border relative">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="" *ngIf="isLoaded">
      <app-skeleton-img *ngIf="!isLoaded"></app-skeleton-img>
      <span style="margin-top: 10px;">John Zat Burg</span>
    </div>
  </div>
  <div class="second-section wrapper-border relative">
    <div class="wrapper first-wrap unset-border relative">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="" *ngIf="isLoaded">
      <app-skeleton-img *ngIf="!isLoaded"></app-skeleton-img>
      <span style="margin-top: 10px;">John Zat Burg</span>
    </div>
    <div class="wrapper second-wrap unset-border">
      <h3>Algolution</h3>
      <span class="algolution-preTitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis fuga iure iusto minima molestias omnis quo quos recusandae ut! Accusantium beatae blanditiis corporis nulla odio sint suscipit ut voluptas.
      </span>
      <div class="get-started">
        <button class="btn-primary-costum">
          Get Started
        </button>
      </div>
    </div>
  </div>
  <div class="third-section second-section wrapper-border">
    <div class="title">
      <h3>Featured Artists</h3>
    </div>
    <div class="boxes d-unset">
      <div class="scrolls">
        <div class="box" *ngFor="let item of featuredArtists">
          <div class="mitem">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
            <span>Vincet Van Gogh</span>
          </div>
        </div>
      </div>
      <div class="respo-show">
        <app-carousel [sliderImgs]="['https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU']"></app-carousel>
      </div>
    </div>
  </div>
<!--  drop-down-selector-->
  <div class="pre-last-section third-section second-section wrapper-border">
    <div class="title">
      <h3 class="title_hot">Hot</h3>
      <app-drop-down-selector [dropDownValues]="hotDropDown" [isNotAccordion]="false" (dropDownValue)="selectedType($event)"></app-drop-down-selector>
      <h3 class="title_in">In</h3>
      <app-drop-down-selector [dropDownValues]="hotInDropDown" [isNotAccordion]="false" (dropDownValue)="selectedLastDuration($event)"></app-drop-down-selector>
    </div>
    <div class="scrolls">
      <div class="box" *ngFor="let item of hotItems">
        <div class="mitem" *ngIf="item['isCollection']">
          <img src="{{item['featuredImage']}}" alt="">
          <span style="max-width: 150px;overflow: hidden;">{{item['name']}}</span>
        </div>
        <div class="mitem" *ngIf="item['isAsset']">
          <img src="{{item['file']}}" alt="">
          <span style="max-width: 150px;overflow: hidden;">{{item['name']}}</span>
        </div>
        <div class="mitem" *ngIf="item['isUser']">
          <img src="{{item['profileImage']?item['profileImage']:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU'}}" alt="">
          <span style="max-width: 150px;overflow: hidden;">{{item['name']}}</span>
        </div>
      </div>
    </div>
  </div>
<!--  drop-down-selector-->
  <div class="last-section third-section second-section wrapper-border">
    <div class="title">
      <h3>Benefits for Artists & Collectors</h3>
    </div>
    <div class="boxes d-unset">
      <div class="box relative">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <app-skeleton-img *ngIf="!isLoaded" [isBoxes]="true"></app-skeleton-img>
      </div>
      <div class="box relative">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <app-skeleton-img *ngIf="!isLoaded" [isBoxes]="true"></app-skeleton-img>
      </div>
      <div class="box relative">
        <span>Vincet Van Gogh</span>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        <app-skeleton-img *ngIf="!isLoaded" [isBoxes]="true"></app-skeleton-img>
      </div>
      <div class="respo-show">
        <app-carousel [sliderImgs]="['https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU']"></app-carousel>
      </div>
    </div>
  </div>
</div>

