<div class="wrapper wrapper-border">
  <div class="backArrow" (click)="actionBack()">
    <img src="https://www.pngitem.com/pimgs/m/467-4678631_arrow-back-icon-png-transparent-png.png" alt="">
  </div>
  <div class="whole wrapper-border">
    <div class="row w-100">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="inside wrapper-border">
          <div class="header">
            <h3>Create bid</h3>
          </div>
          <div class="price wrapper-border">
            <div class="row d-flex align-items-center" style="width: 100%">
              <div class="col-md-5">
                <h4 class="priceheader">Algo</h4>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="Enter algo amount to offer" class="input-costum" (blur)="blurAlgoEvent($event)">
              </div>
            </div>
          </div>
          <div class="price wrapper-border">
            <div class="row d-flex align-items-center" style="width: 100%">
              <div class="col-md-5">
                <h4 class="priceheader">Asset</h4>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="Enter asset id to accept" class="input-costum" [formControl]="searchAssetControl">
              </div>
            </div>
          </div>
          <div class="createoffer wrapper-border">
            <div class="row d-flex align-items-center" style="width: 100%">
              <div class="col-md-5">
                <h4 class="amountheader">Amount</h4>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="Enter asset amount to accept" class="input-costum" (blur)="blurAmountEvent($event)">
              </div>
            </div>
          </div>
          <div class="royalties wrapper-border">
            <div class="royal height-_10">
              <div class="row d-flex align-items-center" style="width: 100%">
                <div class="col-md-5">
                  <h4>Royalties</h4>
                </div>
                <div class="col-md-7 restyle-col">
                  <input type="text" class="input-costum" name="royalty" placeholder="10" (blur)="blurRoyaltyEvent($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button class="btn-secondary-costum aligner" (click)="createBid()">
              Create offer
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
      <!-- <div class="col-md-6">
        <div class="preview wrapper-border">
          <div class="previewheader">
            <h4>Preview</h4>
          </div>
          <app-card></app-card>
        </div>
      </div> -->
    </div>
  </div>
</div>

<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
