::ng-deep {
    .mat-tab-body {
      overflow: unset !important;
    }
    .mat-tab-body-content {
      overflow: unset !important;
    }
}

.main {
  .profile-section {
    position: relative;


    .profile-info {
      margin-top: 5rem;
    }

    .scroll-bio {
      margin-top: 20px;
      .wrapper {
        width: 100%;

        .read-more {
          font-size: 16px;
        }
      }
    }

    .setting-section {
      position: absolute;
      background-color: #ffffff;
      border-radius: 50%;
      top: 13px;
      right: 25px;
      width: 40px;
      height: 40px;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }
    }

    img {
      border-radius: 12px;
      object-fit: cover;
    }
    .cover {
      img {
        height: 400px;
        width: 100%;
      }
    }
    .social-media-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 10px 25px;
      background-color: #ffffff;
      position: absolute;
      border-radius: 0 0 12px 12px;
      min-width: 270px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);

      img {
        object-fit: contain;
        display: inline-block;
        width: 40px;
        height: 40px;
      }
    }
    .profile-avatar {
      border-radius: 12px;
      position: absolute;
      left: 50%;
      bottom: -70px;
      transform: translateX(-50%);

      img {
        height: 150px;
        width: 150px;
        object-fit: fill;
        border-radius: 12px;
      }
    }
  }
}
