<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  <div class="body">
    <div class="setBox">
      <img class="link" src="https://cdn3.iconfinder.com/data/icons/arrow-13/64/arrow8-512.png" alt="">
      <h4>Settings</h4>
    </div>
    
      <div class="inside">
      <div class="wrapper">
        <div class="options">
        <span>Dark Mode</span>
        <mat-slide-toggle id="sliddertoggle1"></mat-slide-toggle>
            <br>
        <span>Show NSFW</span>
        <mat-slide-toggle id="sliddertoggle2"></mat-slide-toggle>
                <br>
        <span>Receive Email Notification</span>
        <mat-slide-toggle id="sliddertoggle3"></mat-slide-toggle>
        </div>
        <div class="downSection">
          <div class="buttons">
              <button class="button1">Save</button>
              <button class="button2">Cancel</button>
            
          </div>
        </div>
      </div>
      </div>
</div>
</body>
</html>