<div class="main">
  <div class="wrapper-border">
    <div class="collection-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="go-back" (click)="back()">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAN1jWZS_QSUocNa5E0mlRKhahkmDd_8Tsew&usqp=CAU" alt="" style="width: 30px; height: 30px">
          <span>Back</span>
        </div>
      </div>
      <div class="title">
        <h3>Edit Profile</h3>
      </div>
    </div>
    <div class="input-section">
      <div class="wrapper-border">
        <form action="" [formGroup]="myForm">
          <div class="section wrapper-border upload-section">
              <img *ngIf="profileIconUrl" src="{{profileIconUrl}}" alt="" style="max-width: 50%; max-height: 50%; display: block;">
              <img *ngIf="!profileIconUrl" src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-pn g-download.png" alt="" style="max-width: 50%; max-height: 50%; display: block;">
            <div class="col">
              <h4>Profile image</h4>
                <input
                  accept=".png, .jpg, .jpeg"
                  (change)="onProfileImageUpload($event)"
                  type="file"
                  id="myFile"
                  name="filename"
                  formControlName="profileImage"
                />
            </div>
          </div>
          <div class="section wrapper-border upload-section">
            <img *ngIf="profileBannerUrl" src="{{profileBannerUrl}}" alt="" style="max-width: 50%; max-height: 50%; display: block;">
            <img *ngIf="!profileBannerUrl" src="https://img.freepik.com/free-vector/space-banner-with-purple-planet-landscape_107791-6230.jpg?w=2000&t=st=1658221048~exp=1658221648~hmac=c65eb9aee01fdb8c97e698f7c4d794de0780c30ecec37acaba246e8cd15c321f" alt=""
            style="max-width: 50%; max-height: 50%; display: block;">
            <div class="col">
              <h4>Banner</h4>
              <input
                accept=".png, .jpg, .jpeg"
                (change)="onImageUpload($event)"
                type="file"
                id="myFile"
                name="filename"
                formControlName="bannerImage"
              />
            </div>
            
          </div>
          <div class="section wrapper-border upload-section">
            <img *ngIf="profileFeaturedUrl" src="{{profileFeaturedUrl}}" alt="" style="max-width: 50%; max-height: 50%; display: block;">
            <img *ngIf="!profileFeaturedUrl" src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png" alt=""
            style="max-width: 50%; max-height: 50%; display: block;">
            <div class="col">
              <h4>Featured Image</h4>
              <input
                accept=".png, .jpg, .jpeg"
                (change)="onFeaturedImageUpload($event)"
                type="file"
                id="myFile"
                name="filename"
                formControlName="featuredImage"
              />
            </div>
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Display Name</h4>
            <input type="text" placeholder="Name" class="input-costum" formControlName="name">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Bio</h4>
            <textarea style="width: 100%; height: 100px" formControlName="bio"></textarea>
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Costum Algoverse URL</h4>
            <input type="text" placeholder="algoverse.exchange/your-domain-here" class="input-costum" formControlName="customURL">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Website or Portfolio</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="website">
          </div>
<!--          <div class="section wrapper-border flex-column">-->
<!--            <h4>Email</h4>-->
<!--            <input type="text" placeholder="Email" class="input-costum" formControlName="email">-->
<!--          </div>-->
          <div class="section wrapper-border flex-column">
            <h4>Twitter</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="twitter">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Telegram</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="telegram">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Instagram</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="instagram">
          </div>
          <div class="buttons d-flex align-items-center">
            <button class="btn-secondary-costum aligner" (click)="saveForm()">
              Save
            </button>
            <button class="btn-primary-costum aligner" routerLink="../profile">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
