<div class="main">
  <div class="wrapper-border">
    <div class="collection-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="go-back">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAN1jWZS_QSUocNa5E0mlRKhahkmDd_8Tsew&usqp=CAU" alt="" style="width: 30px; height: 30px">
          <span>Back</span>
        </div>
      </div>
      <div class="title">
        <h3>Edit Profile</h3>
      </div>
    </div>
    <div class="input-section">
      <div class="wrapper-border">
        <form action="" [formGroup]="myForm">
          <div class="section wrapper-border upload-section">
            <h4>Profile image</h4>
            <button class="btn-primary-costum upload
">
              Upload Image
              <input
                accept=".png, .jpg, .jpeg"
                (change)="onProfileImageUpload($event)"
                type="file"
                id="myFile"
                name="filename"
                formControlName="profileImage"
              />
            </button>
          </div>
          <div class="section wrapper-border upload-section">
            <h4>Banner</h4>
              <button
                class="btn-primary-costum upload"
                style="margin-top: 10px"
              >
                Upload Banner

                <input
                  accept=".png, .jpg, .jpeg"
                  (change)="onImageUpload($event)"
                  type="file"
                  id="myFile"
                  name="filename"
                  formControlName="bannerImage"
                />
            </button>
          </div>
          <div class="section wrapper-border upload-section">
            <h4>Featured Image</h4>
            <button class="btn-primary-costum upload">
              Upload Image
              <input
                accept=".png, .jpg, .jpeg"
                (change)="onFeaturedImageUpload($event)"
                type="file"
                id="myFile"
                name="filename"
                formControlName="featuredImage"
              />
            </button>
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Display Name</h4>
            <input type="text" placeholder="Name" class="input-costum" formControlName="name">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Bio</h4>
            <textarea style="width: 100%; height: 100px" formControlName="bio"></textarea>
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Costum Algoverse URL</h4>
            <input type="text" placeholder="algoverse.exchange/your-domain-here" class="input-costum" formControlName="customURL">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Website or Portfolio</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="website">
          </div>
<!--          <div class="section wrapper-border flex-column">-->
<!--            <h4>Email</h4>-->
<!--            <input type="text" placeholder="Email" class="input-costum" formControlName="email">-->
<!--          </div>-->
          <div class="section wrapper-border flex-column">
            <h4>Twitter</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="twitter">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Telegram</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="telegram">
          </div>
          <div class="section wrapper-border flex-column">
            <h4>Instagram</h4>
            <input type="text" placeholder="link..." class="input-costum" formControlName="instagram">
          </div>
          <div class="buttons d-flex align-items-center">
            <button class="btn-secondary-costum aligner" (click)="saveForm()">
              Save
            </button>
            <button class="btn-primary-costum aligner" routerLink="../profile">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
