<div class="whole wrapper-border">
    <h3 class="header">About The $Verse Token</h3>
    <div class="wrapper-border">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper-border">
                  <p>
                    Get verified as an artist on the Algoverse marketplace.
                    To do so send a short description of yourself and your work in the following form.
                    Put a link of your portfolio in the corresponding field.
                  </p>
                </div>
            </div>
                <div class="col-md-6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
                </div>
            </div>
        </div>
    <div class="wrapper-border">
        <div class="row flex-reverse-column-costum">
        <div class="col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
        </div>
            <div class="col-md-6">
            <div class="wrapper-border">
              <p>
                Get verified as an artist on the Algoverse marketplace.
                To do so send a short description of yourself and your work in the following form.
                Put a link of your portfolio in the corresponding field.
              </p>
            </div>
            </div>
        </div>
    </div>
    <div class="wrapper-border">
    <div class="row">
        <div class="col-md-6">
            <div class="wrapper-border">
              <p>
                Get verified as an artist on the Algoverse marketplace.
                To do so send a short description of yourself and your work in the following form.
                Put a link of your portfolio in the corresponding field.
              </p>
            </div>
            </div>
            <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIpwPBaVYiXVLl_gTRHBWJPkkjp5JdeBqGQ&usqp=CAU" alt="">
            </div>
        </div>
    </div>
</div>

