<div class="main MAIN">
  <div class="wrapper wrapper-border">
    <div class="left-section wrapper-border">
      <div class="section first">
        <div class="title">
          <h3>
            Price
          </h3>
        </div>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          step="1000"
          min="0"
          max="100000"
          aria-label="units"></mat-slider>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Cateogry
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="categoriesDropDown"></app-drop-down-selector>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Type
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="typesDropDown" (dropDownValue)="catchValue($event)"></app-drop-down-selector>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Collections
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="collectionsDropDown"></app-drop-down-selector>
      </div>
      <div class="section last">
        <div class="title">
          <h3>
            Artists
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="artistsDropDown"></app-drop-down-selector>
      </div>
    </div>
    <div class="right-section">
      <div class="timed-auction-section">
        <div class="wrapper">
          <div class="wrapper-border p-b_0">
            <div class="row m-t_10 ">
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-12">
                    <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  </div>
                  <div class="col-sm-12">
                    <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-12 only-one-img">
                    <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-12">
                    <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  </div>
                  <div class="col-sm-12">
                    <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxes-section">
        <div class="boxes-section-sort-by">
          <app-drop-down-selector [dropDownValues]="boxesSortDropDown" [isNotAccordion]="false"></app-drop-down-selector>
        </div>
        <div class="sale-section" *ngIf="isSale || isAll">
          <h3 class="color-violet">Sale</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of boxArray">
              <app-card *ngIf="isLoaded"></app-card>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
        <div class="swap-section" *ngIf="isSwap || isAll">
          <h3 class="color-violet">Swap</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of boxArray">
              <app-swap-card *ngIf="isLoaded"></app-swap-card>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
        <div class="swap-section timed-auction-section" *ngIf="isTimedAuction || isAll">
          <h3 class="color-violet">Timed Auction</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of boxArray">
              <app-timed-auction-card *ngIf="isLoaded"></app-timed-auction-card>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--cdk-focused cdk-mouse-focused-->
