<div class="main MAIN">
  <div class="wrapper wrapper-border">
    <div class="left-section wrapper-border">
      <div class="section first">
        <div class="title">
          <h3>
            Price
          </h3>
        </div>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          step="1000"
          min="0"
          max="100000"
          aria-label="units"></mat-slider>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Cateogry
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="categoriesDropDown"></app-drop-down-selector>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Type
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="typesDropDown" (dropDownValue)="catchValue($event)"></app-drop-down-selector>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Collections
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="collectionsDropDown"></app-drop-down-selector>
      </div>
      <div class="section">
        <div class="title">
          <h3>
            Artists
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="artistsDropDown"></app-drop-down-selector>
      </div>
      <div class="section last">
        <div class="title">
          <h3>
            Sort by
          </h3>
        </div>
        <app-drop-down-selector [dropDownValues]="boxesSortDropDown" [isNotAccordion]="false"></app-drop-down-selector>
      </div>
    </div>
    <div class="right-section">
      <div class="boxes-section">
        <div class="sale-section">
          <h3 class="color-violet title">Trades</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of trades">
              <div *ngIf="isLoaded" >
                <app-trade-grid-item [routerLink]="'/trade/' + item['tradeId']" [mItem]="item"></app-trade-grid-item>
              </div>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
        <div class="sale-section">
          <h3 class="color-violet title">Bids</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of bids">
              <div *ngIf="isLoaded">
                <app-bid-grid-item [routerLink]="'/bid/' + item['bidId']" [mItem]="item"></app-bid-grid-item>
              </div>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
        <div class="sale-section">
          <h3 class="color-violet title">Swaps</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of swaps">
              <div *ngIf="isLoaded">
                <app-swap-grid-item [routerLink]="'/swap/' + item['swapId']" [mItem]="item"></app-swap-grid-item>
              </div>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
        <div class="sale-section timed-auction-section">
          <h3 class="color-violet title">Timed Auctions</h3>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let item of auctions">
              <div *ngIf="isLoaded">
                <app-auction-grid-item [routerLink]="'/auction/' + item['auctionId']" [mItem]="item"></app-auction-grid-item>
              </div>
              <app-skeleton-card *ngIf="!isLoaded"></app-skeleton-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--cdk-focused cdk-mouse-focused-->
