
.largerContent {
  position: absolute;
  top: 22px;
  right: 0px;
  width: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {

    .slideBack {
      height: 14px;
      transform: rotate(180deg);
      .top {
        background: #81007F;
        transform: rotate(50deg);
      }
      .bottom {
        background: #81007F;
        transform: rotate(-50deg);
      }
    }
  }
  .slideBack {
    position: relative;
    height: 13px;
    display: inline-block;
    transform: rotate(180deg);
    &.isScaled {
      transform: rotate(-360deg);
    }
    .top {
      height: 2px;
      width: 17px;
      transform: rotate(45deg);
      background: #040405;
      top: 0px;
      position: absolute;
    }
    .bottom {
      height: 2px;
      width: 17px;
      transform: rotate(-45deg);
      background: #040405;
      bottom: 0px;
      position: absolute;
    }

  }
}
@keyframes scaleContent {
  100% {
    width: 4%;
  }
  0% {
    width: 20%;
  }
}
@keyframes scaleContentReverse {
  0% {
    width: 4%;
  }
  100% {
    width: 20%;
  }
}
// # content sizer

mat-slider {
  width: 100%;
}
app-drop-down-selector {
  width: 100%;
}

.main {
  .p-b_0 {
    padding-bottom: 0px !important;
  }
  .wrapper {
    display: flex;

    .left-section {
      width: 20%;
      height: fit-content;
      position: sticky;
      top: 85px;

      //&.left-section-scaled {
      //  width: fit-content !important;
      //}
      &.animation-class {
        animation-name: scaleContent;
        animation-duration: 0.4s;
      }
      &.animation-class-reverse {
        animation-name: scaleContentReverse;
        animation-duration: 0.4s;
      }

      .section {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        &.first {
          height: 150px;
          border-radius: 12px 12px 0px 0px;
        }
        &.last {
          border-radius: 0px 0px 12px 12px;
        }
        h3 {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
    .right-section {
      width: 80%;
      margin-left: 20px;

      .timed-auction-section {
        .wrapper {

          img {
            height: 250px;
            width: 100%;
            border-radius: 12px;
          }
          .only-one-img {
            img {
              height: 520px;
            }
          }
        }
      }

      .boxes-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .boxes-section-sort-by {
          width: 280px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

    }
  }
  .color-violet {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }
}
@media (max-width: 1230px) {
  .main {
    .wrapper {
      .left-section {
        width: 230px;
      }

    }
  }
}
@media (max-width: 920px) {
  .main {
    .wrapper {
      display: flex;
      flex-direction: column;

      .left-section {
        position: unset;
      }

      .right-section {
        margin-top: 20px;

        .boxes-section {

          .boxes-section-sort-by {
            margin-bottom: 30px;
            margin-top: 20px;
          }

        }

      }
      .row {
        margin: -10px -10px;
        &.m-t_10 {
          margin-top: 10px !important;
        }
      }

      .left-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .section {
          width: 50%;
          padding: 0px 10px;

          &.first {
            height: unset;
          }
        }
      }
      .right-section {
        width: 100%;
        margin-left: 0px;

      }
    }
  }
}
@media (max-width: 580px) {
  .main {
    .wrapper {

      .left-section {

        .section {
          width: 100%;
          padding: 0px;
        }
      }
      .right-section {

        .timed-auction-section {

          .wrapper {

            img {
              height: 200px;
              object-fit: cover;
            }
            .only-one-img {
              img {
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}
