
mat-slider {
  width: 100%;
}
app-drop-down-selector {
  width: 100%;
}

.main {
  .p-b_0 {
    padding-bottom: 0px !important;
  }
  .wrapper {
    display: flex;

    .left-section {
      width: 20%;
      height: fit-content;
      position: sticky;
      top: 85px;

      .section {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        &.first {
          height: 150px;
          border-radius: 12px 12px 0px 0px;
        }
        &.last {
          border-radius: 0px 0px 12px 12px;
        }
        h3 {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
    .right-section {
      width: 80%;
      margin-left: 20px;

      .timed-auction-section {
        .wrapper {

          img {
            height: 250px;
            width: 100%;
            border-radius: 12px;
          }
          .only-one-img {
            img {
              height: 520px;
            }
          }
        }
      }

      .boxes-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .boxes-section-sort-by {
          width: 280px;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

    }
  }
}
@media (max-width: 1230px) {
  .main {
    .wrapper {
      .left-section {
        width: 230px;
      }

    }
  }
}
@media (max-width: 920px) {
  .main {
    .wrapper {
      display: flex;
      flex-direction: column;

      .left-section {
        position: unset;
      }

      .right-section {
        margin-top: 20px;

        .boxes-section {

          .boxes-section-sort-by {
            margin-bottom: 30px;
            margin-top: 20px;
          }

        }

      }
      .row {
        margin: -10px -10px;
        &.m-t_10 {
          margin-top: 10px !important;
        }
      }

      .left-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .section {
          width: 50%;
          padding: 0px 10px;

          &.first {
            height: unset;
          }
        }
      }
      .right-section {
        width: 100%;
        margin-left: 0px;

      }
    }
  }
}
@media (max-width: 580px) {
  .main {
    .wrapper {

      .left-section {

        .section {
          width: 100%;
          padding: 0px;
        }
      }
      .right-section {

        .timed-auction-section {

          .wrapper {

            img {
              height: 200px;
              object-fit: cover;
            }
            .only-one-img {
              img {
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}
