<div class="wrapper-border">
    <div class="row">
        <div class="col-md-5">
        <h3>Get verified</h3>
        <p>Get verified as an artist on the Algoverse marketplace. 
            To do so send a short description of yourself and your work in the following form. 
            Put a link of your portfolio in the corresponding field.</p>
        </div>
        <div class="col-md-7">
            <div class="portfolio wrapper-border">
                    <h4>Portfoilio</h4>
                <div class="input">
                    <input type="text" placeholder="text" class="input-costum">
                </div>
            </div>
                <div class="application wrapper-border">
                    <h4>Application</h4>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
        </div>
    </div>
</div>
