<div class="wrapper-border">
  <div class="backArrow" (click)="actionBack()">
    <img src="assets/img/arrow.svg" alt="">
  </div>
    <div class="row">
        <div class="col-md-5">
          <div class="wrapper-border unset_margin">
            <h3>Get verified</h3>
            <p>Get verified as Creator on the Algoverse marketplace.
              To do so send a short description of yourself and your work in the following form.
              Put a link of your portfolio in the corresponding field.</p>
          </div>
          </div>
        <div class="col-md-7">
            <div class="portfolio wrapper-border">
                    <h4>Portfoilio</h4>
                <div class="input">
                    <input type="text" placeholder="link" class="input-costum">
                </div>
            </div>
            <div class="application wrapper-border">
                <h4>Application</h4>
                <textarea name="" id="" cols="30" rows="10" placeholder="Tell us something about your work, your motivation and your self"></textarea>
            </div>
            <div class="submit-section d-flex justify-content-center">
              <button class="btn-primary-costum disabled" disabled>
                Submit
              </button>
              <button class="btn-primary-costum" (click)="actionBack()">
                Cancel
              </button>
            </div>
        </div>
    </div>
</div>
