<div class="wrapper-card">
  <div class="img" *ngIf="!isCollection">
    <img src="{{mItem.file}}" alt="">
  </div>
  <div class="img" *ngIf="isCollection">
    <img src="{{mItem.featuredImage}}" alt="">
  </div>
  <div class="card-info" [class.flex-column]="isCollection">
    <div class="card-info-left"  *ngIf="!isCollection">
      <div class="section">
        <h4>Name: </h4>
        <span class="unset-dm-style">{{mItem.name}}</span>
      </div>
      <div class="section">
        <h4>Creator </h4>
        <img style='width: 25px; height: 25px;' src="https://thumbs.dreamstime.com/b/green-tick-icon-vector-symbol-checkmark-isolated-white-background-checked-icon-correct-choice-sign-check-mark-checkbox-154491019.jpg" alt="">
      </div>
    </div>
    <div class="name" *ngIf="isCollection">
      <h4>{{mItem.name}}</h4>
    </div>
    <div class="card-info-right" [class.my-page]="isCollection">
      <div class="section">
        <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
        <span>{{mItem.stars}}</span>
      </div>
    </div>
  </div>
</div>
