<div class="wrapper-card">
  <div class="img" *ngIf="!isCollection">
    <img src="https://algoverse.infura-ipfs.io/ipfs/{{mItem.file}}" alt="">
  </div>
  <div class="img" *ngIf="isCollection">
    <img src="{{mItem.icon}}" alt="">
  </div>
  <div class="card-info" [class.flex-column]="isCollection">
    <div class="card-info-left"  *ngIf="!isCollection">
      <div class="section">
        <h4>Name </h4>
        <span class="unset-dm-style">{{mItem.name}}</span>
      </div>
      <div class="section" *ngIf="mItem.creator">
        <h4>Creator </h4>
        <img *ngIf="mItem.creator.profileImage" class="creator-image" src="{{mItem.creator.profileImage}}" alt="">
        <img *ngIf="!mItem.creator.profileImage" class="creator-image" src="assets/img/default-avatar.svg" alt="">
        <span class="unset-dm-style">{{mItem.creator.name.length > 15? mItem.creator.name.substring(0,15).concat('...') : mItem.creator.name}}</span>
        <img *ngIf="mItem.creator.verified" style='width: 25px; height: 25px;' src="assets/img/verified-mark.png" alt="">
      </div>
      <div class="section">
        <h4>Price</h4>
        <span *ngIf="mItem.price > 0" class="unset-dm-style">{{(mItem.price / 1000000).toFixed(3)}}</span>
        <img  *ngIf="mItem.price > 0" class="algo-logo" src="assets/img/algorand-algo-logo.png" alt="">
        <span *ngIf="mItem.price == 0" class="unset-dm-style">Not for Sale</span>
      </div>
      <div class="section" *ngIf="mItem.highestBid > 0">
        <h4>Highest Bid</h4>
        <span class="unset-dm-style">{{(mItem.highestBid/ 1000000).toFixed(3)}}</span>
        <img class="algo-logo" src="assets/img/algorand-algo-logo.png" alt="">
      </div>
    </div>
    <div class="name" *ngIf="isCollection">
      <h4>{{mItem.name}}</h4>
    </div>
    <div class="card-info-right" [class.my-page]="isCollection">
      <div class="section">
        <i class="fa fa-star" aria-hidden="true" style="color: rgb(254, 218, 3);"></i>
        <span>{{mItem.stars}}</span>
      </div>
    </div>
  </div>
</div>
