<div class="wrapper-card">
  <div class="img">
    <div class="section" *ngIf="mItem.asset.file">
      <img src="https://ipfs.infura.io/ipfs/{{mItem.asset.file}}" alt="">
    </div>
    <div class="section" *ngIf="!mItem.asset.file">
      <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60f80121c31a0d46b5279700f9df786054aa5ee5:1366863/c64c39f3" alt="">
    </div>
  </div>
  <div class="card-info w-100" [class.flex-column]="isCollection">
    <div class="card-info-left w-100"  *ngIf="!isCollection">
      <div class="section">
        <h4>Asset: {{mItem.asset.name}}</h4>
        <span class="unset-dm-style">{{mItem.asset.unitName}}</span>
      </div>
      <div class="section w-100">
        <h4 class="w-100" style="overflow-wrap: break-word;">Creator: {{mItem?.creator?.name.length > 15 ?  mItem?.creator?.name.substring(0,8).concat('...'): mItem?.creator?.name}}</h4>
      </div>
      <div class="section">
        <h4>Highest Bid </h4>
        <span class="unset-dm-style">{{mItem?.bids.length > 0? scaleAlgo(mItem.bids[0].amount) : 0}}</span>
      </div>
      <div class="section">
        <h4>Closing Time</h4>
        <span class="unset-dm-style">{{mItem.closingDate}}</span>
      </div>
    </div>
  </div>
</div>
