<div class="wrapper wrapper-border">
  <div class="backArrow" (click)="actionBack()">
    <img src="assets/img/arrow.svg" alt="">
  </div>
  <div class="whole">
    <div class="row w-100">
      <div class="col-md-12">
        <div class="inside">
          <div class="wrapper-border">
            <div class="row">
              <div class="col-md-6">
                <div class="img card-info card-info-left">
                  <ng-container>
                    <div class=""
                         [ngClass]="{'flex-column align-items-center': isMimeTypeAudio}">
                      <img *ngIf="!isMimeTypeVideo" class="auction-image"
                           src="https://algoverse.infura-ipfs.io/ipfs/{{mAuction.asset?.file}}" alt="">
                      <!--if mimetype is a audio-->
                      <audio controls *ngIf="isMimeTypeAudio" class="mt-3 audio">
                        <source [src]="animation_url" [type]="animation_url_mimetype">
                      </audio>
                      <!--if mimetype is a video-->
                      <video width="250" height="250" controls *ngIf="isMimeTypeVideo"
                             poster="https://algoverse.infura-ipfs.io/ipfs/{{mAuction.asset?.file}}">
                        <source [src]="animation_url" [type]="animation_url_mimetype">
                      </video>
                    </div>
                    <div class="">
                      <div class="names">
                        <div class="d-flex align-items-center justify-content-between">
                          <span class="unset-dm-style">{{mAuction.asset?.name}}</span>
                          <div class="d-flex align-items-center justify-content-between asset-heart-container">
                            <img class="asset-heart" (click)="addOrRemoveStar()"
                                 [src]="isHovered ? './assets/img/heart-touched.svg' : isStarred  ? './assets/img/heart-dark.svg' : './assets/img/heart-dark-unfilled.svg'"
                                 alt="heart" (mouseover)="isHovered = true;" (mouseleave)="isHovered = false;">
                            <span [ngClass]="{'touched': isHovered}">{{mAuction.asset?.stars}}</span>
                          </div>
                        </div>
                        <div class="d-flex flex-column gap">
                          <div *ngIf="mAuction.asset?.collection" class="d-flex align-items-center gap"
                               style="cursor: pointer"
                               routerLink="../../collection-detail/{{mAuction.asset.collection.collectionId}}">
                            <img src="{{mAuction.asset.collection.icon}}" alt=""
                                 style="width: 30px; height: 30px;">
                            <span>{{mAuction.asset.collection.name}}</span>
                          </div>
                          <div class="d-flex align-items-center gap" style="align-items: center; cursor: pointer"
                               routerLink="../../profile/{{mAuction.asset?.creator?.wallet}}">
                            <img *ngIf="mAuction?.creator?.profileImage" src="{{mAuction?.creator?.profileImage}}"
                                 alt=""
                                 style="width: 30px; height: 30px;">
                            <img *ngIf="!mAuction?.creator?.profileImage" src="assets/img/default-avatar.svg" alt=""
                                 style="width: 30px; height: 30px;">
                            <div class="d-flex verified-gap">
                              <span>@{{mAuction?.creator?.name.length > 15 ? mAuction?.creator?.name.substring(0, 8).concat('...') : mAuction?.creator?.name}}</span>
                              <img style='width: 25px; height: 25px;' src="assets/img/verified-mark.png" alt=""
                                   *ngIf="mAuction?.creator?.verified">
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="desc">
                        <div class="d-flex gap">
                          <h4 class="fixed" style="color: #666">Asset ID: </h4>
                          <span class="unset-dm-style">{{mAuction.asset?.assetId}}</span>
                        </div>
                        <div class="d-flex gap" *ngIf="mAuction.asset?.unitName">
                          <h4 class="fixed" style="color: #666">Asset Unit:</h4>
                          <span class="unset-dm-style">{{mAuction.asset?.unitName}}</span>
                        </div>
                        <div class="d-flex gap">
                          <h4 class="fixed" style="color: #666">Supply:</h4>
                          <span
                            class="unset-dm-style">{{maxSupply}} {{ decimals > 0 ? ' (Fractions: ' : ""}} {{decimals >= 5 ? 10 : "" }}
                            <sup
                              *ngIf="decimals >= 5">{{decimals}}</sup> {{(decimals < 5 && decimals > 0) ? formatFractions(decimals) : ""}}{{decimals > 0 ? ")" : ''}}</span>
                        </div>
                        <div class="row m-0"
                             *ngIf="mAuction.asset?.properties && mAuction.asset?.properties.length > 0">
                          <div class="col-5 p-0" style="width: fit-content">
                            <h4 class="fixed" style="color: #666">Properties:</h4>
                          </div>
                          <div class="col-7 p-0">
                            <div *ngFor="let prop of mAuction.asset.properties">
                              <div class="d-flex property-gap">
                                <h4 class="property">{{prop.trait_type}}:</h4>
                                <p style="overflow-wrap: break-word;">{{prop.value}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6 mt-3 mt-md-0 auction-info">
                <div class="">
                  <div class="info card-info card-info-right">
                    <div class="section">
                      <h4 class="fixed">Start:</h4>
                      <span class="unset-dm-style">{{startTime}}</span>
                    </div>
                    <div class="section">
                      <h4 class="fixed">End:</h4>
                      <span class="unset-dm-style">{{endTime}}</span>
                    </div>
                    <div class="section">
                      <h4 class="fixed">Time left:</h4>
                      <span class="auction-countdown text-regular ">{{auctionCountdown}}</span>
                    </div>
                    <div class="section">
                      <h4 class="fixed">Reserve:</h4>
                      <span class="unset-dm-style">{{ price }}</span>
                      <img class="algo-logo" src="assets/img/algorand-algo-logo.png" alt="">
                    </div>
                    <div class="section">
                      <h4 class="fixed">Min. bid:</h4>
                      <span class="unset-dm-style">{{ minimumIncrement.toFixed(2) }}</span>
                      <img class="algo-logo" src="assets/img/algorand-algo-logo.png" alt="">
                    </div>
                    <hr>
                  </div>
                  <div class="auction" style="margin-top: 10px;">
                    <div class="d-flex mb-3" style="justify-content: flex-start; align-items: center;">
                      <h4 class="fixed" style="margin-right: 5px">Bid amount</h4>
                      <input type="text" class="input-costum" placeholder="100" style="width: 350px;"
                             (blur)="blurBidAmount($event)">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                      <button class="btn-secondary-costum aligner" (click)="actionAuction()" style="width: 160px;">
                        <ng-container *ngIf="canCancel">
                          Cancel
                        </ng-container>
                        <ng-container *ngIf="canClose">
                          Close
                        </ng-container>
                        <ng-container *ngIf="!canClose && !canCancel && hasStarted && !isFinished">
                          Place Bid
                        </ng-container>
                        <ng-container *ngIf="!canClose && !canCancel && !hasStarted">
                          Not Started
                        </ng-container>
                        <ng-container *ngIf="!canClose && !canCancel && isFinished">
                          Finished
                        </ng-container>
                      </button>
                    </div>
                  </div>
                  <div class="section right" style="margin-top: 10px;">
                    <h5>Bids:</h5>
                    <div class="bids img scroll">
                      <div class="bid section d-flex align-items-center wrapper-card"
                           style="cursor: pointer;
                            margin-bottom: 3px;"
                           *ngFor="let item of mAuction.bids; let i = index"
                           routerLink="../../profile/{{item.biddingUserWallet}}">
                        <div class="top-info" style="margin-right: 80px;">
                          <img *ngIf="item?.biddingUserPhoto" src="{{item?.biddingUserPhoto}}" alt=""
                               style="width: 30px; height: 30px; margin-right: 5px;">
                          <img *ngIf="!item?.biddingUserPhoto" src="assets/img/default-avatar.svg" alt=""
                               style="width: 30px; height: 30px; margin-right: 5px;">
                          <span>@{{ item?.biddingUserName?.length > 33 ? item?.biddingUserName.substring(0, 33).concat('...') : item?.biddingUserName}}</span>
                          <!-- <img style='width: 25px; height: 25px;' src="assets/img/verified-mark.png" alt=""
                               *ngIf="item?.biddingUser?.verified"> -->
                        </div>
                        <div class="show-info d-flex">
                          <div class="show first">
                            <span>{{scaleAlgo(item?.amount)}}</span>
                            <img class="algo-logo" src="assets/img/algorand-algo-logo.png" alt="">
                          </div>
                        </div>
                      </div>
                      <!--                        <div class="bid" *ngFor="let item of mItem.biddingUser">-->
                      <!--                          <h4>profileImage:</h4>-->
                      <!--                          <span>{{item.name}}</span>-->
                      <!--                        </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
