//@import "node_modules/swiper/modules/mousewheel/mousewheel";

.scroll-item {
  display: flex;
  flex-direction: column;
  img {
    max-width: 100%;
    height: 300px;
  }
}

.artist-name {
  margin: 0 auto;
}
