::ng-deep {
  .swiper-wrapper {
    margin-bottom: 30px;
  }
  .swiper-scrollbar {
    bottom: 0 !important;
  }
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  .featured-artist-profile-picture {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    object-fit: cover;
  }
  .default {
    object-fit: unset;
  }
}

.artist-name {
  margin: 0 auto;
  color: #666;
}
