<div class="wrapper wrapper-border">
  <div class="backArrow" (click)="actionBack()">
    <img src="https://www.pngitem.com/pimgs/m/467-4678631_arrow-back-icon-png-transparent-png.png" alt="">
  </div>
  <div class="whole wrapper-border">
    <div class="row w-100">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="inside wrapper-border">
          <div class="header">
            <h3>Create sale</h3>
          </div>
          <div class="dropdownborder wrapper-border">
            <h4>Assets</h4>
            <div class="dropdown">
              <div class="AssetsList">
                <app-drop-down-selector [dropDownValues]="assetIDs" (dropDownValue)="onSelectedAsset($event)"></app-drop-down-selector>
              </div>
            </div>
          </div>
          <div class="metaheader">
            <h3>Metadata</h3>
          </div>
          <div class="assets wrapper-border">
            <div class="assetsList height-_10">
              <div class="row d-flex align-items-center" style="width: 100%">
                <div class="col-md-5">
                  <div class="assetdesc">
                    <h4>Asset Description</h4>
                  </div>
                </div>
                <div class="col-md-7 restyle-col">
                  <div class="assetdescription">
                    <textarea class="wrapper-border restyle-wrapper" style="width: 100%; height: 100%; resize: none;" disabled>{{selectedAssetDescription}}
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="royalties wrapper-border">
            <div class="royal height-_10">
              <div class="row d-flex align-items-center" style="width: 100%">
                <div class="col-md-5">
                  <h4>Royalties</h4>
                </div>
                <div class="col-md-7 restyle-col">
                  <input type="text" class="input-costum" placeholder="10" (blur)="blurRoyaltyEvent($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="collectionborder wrapper-border">
            <div class="collections">
              <div class="row" style="width: 100%">
                <div class="col-md-5 restyle-col-bottom">
                  <h4>Collection</h4>
                </div>
                <div class="col-md-7 restyle-col-bottom">
                  <span class="color-violet">{{metadata.collection?metadata.collection.name?metadata.collection.name:'':''}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="propertiesborder wrapper-border">
            <h4 class="properties">Properties</h4>
            <div *ngFor="let property of metadataProperties | keyvalue">
              <div class="row ml-1" style="width: 100%;">
                <div class="col-md-5 restyle-col-bottom">
                  <h4>{{property.key}}</h4>
                </div>
                <div class="col-md-7 restyle-col-bottom">
                  <p class="color-violet" style="overflow-wrap: break-word;">{{property.value}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="createoffer wrapper-border">
            <h4 class="amountheader">Amount (< {{maxSupply}})</h4>
            <input type="text" placeholder="Max is Supply" class="input-costum" (blur)="blurAssetAmountEvent($event)">
          </div>
          <div class="price wrapper-border">
            <h4 class="priceheader">Reserve (> 1000 microAlgos)</h4>
            <input type="text" placeholder="Enter price for the offered item" class="input-costum" (blur)="blurPriceEvent($event)">
          </div>
          <div class="wrapper-border">
            <div class="row">
              <div class="col-md-6">
                <div class="price">
                  <h4 class="priceheader">Starting time</h4>
                  <input type="datetime-local" placeholder="12:00" class="input-costum" (blur)="blurStartTimeEvent($event)">
                </div>
              </div>
              <div class="col-md-6">
                <div class="price ">
                  <h4 class="priceheader">Ending time</h4>
                  <input type="datetime-local" placeholder="15:00" class="input-costum" (blur)="blurEndTimeEvent($event)">
                </div>
              </div>
            </div>
            <div class="price">
              <h4 class="priceheader">Minimum Bid Increment (>= 1000 microAlgos)</h4>
              <input type="text" placeholder="1000" class="input-costum"  (blur)="blurMinimumIncrementEvent($event)">
            </div>
          </div>
          <div class="buttons">
            <button class="btn-secondary-costum aligner" (click)="createAuction()">
              Create offer
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
      <!-- <div class="col-md-6">
        <div class="preview wrapper-border">
          <div class="previewheader">
            <h4>Preview</h4>
          </div>
          <app-card></app-card>
        </div>
      </div> -->
    </div>
  </div>
</div>

<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
